<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  <ng-container matColumnDef="departureDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Departure Date</th>
    <td mat-cell *matCellDef="let element">
      {{ element.departureDate | date }}
    </td>
  </ng-container>

  <ng-container matColumnDef="destination">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Destination</th>
    <td mat-cell *matCellDef="let element">{{ element.destination }}</td>
  </ng-container>

  <ng-container matColumnDef="origin">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Origin</th>
    <td mat-cell *matCellDef="let element">{{ element.origin }}</td>
  </ng-container>

  <ng-container matColumnDef="returnDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Return Date</th>
    <td mat-cell *matCellDef="let element">{{ element.returnDate | date }}</td>
  </ng-container>

  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
    <td mat-cell *matCellDef="let element">{{ element.type }}</td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
    <td mat-cell *matCellDef="let element">
      {{ element.price.total | currency }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
